body{

  background: rgb(40,142,183);
background: radial-gradient(circle, rgba(40,142,183,1) 50%, rgba(252,117,23,1) 100%);
   }
   h1{
	   text-align: center;
	   font-family: serif;
	   margin: 50px 0px;
	}
   p{
   color:#b4b6b7 ; 
   }
   h1,strong,em{
   color:#D4AF37;
   }
   p:first-of-type::first-letter {
    font-size: 100px;
    font-weight: bold;
    color:#D4AF37;
	
}


